@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
     hsl(232.8, 89.29%, 78.04%)
  hsl(234.42, 64.18%, 73.73%)
  hwb(238 55% 16%)
  hsl(240, 34.46%, 65.29%)
  hsl(242.26, 26.37%, 60.59%)
  hsl(244.19, 19.11%, 55.88%)
  hsl(246.86, 14.06%, 51.18%)
  hsl(248.89, 11.3%, 46.86%)
  );
  filter: blur(125px);
}

.gradient-04 {
  position: absolute;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

